body {
	font-family: 'Playfair Display', serif;
}
.header-cont {
	position: fixed;
    height: 70px;
    width: 100%;
    top: 0;
    left: 0;
    vertical-align: middle;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    z-index: 802;
}
.Logo {
	float:left;
	padding-left: 2%;
}
a{
	text-decoration: none;
	color: black;
	font-size: 13px;
    font-weight: 400;
}
.NavBar {

	display: inline-block;
	line-height: 75px;
	letter-spacing: .5px;
	padding: 20px 100px 0px 0px;
}
a:unvisited {
	color: black;
	text-decoration: none;
}
a:visited {
	color: black;
	text-decoration: none;
}
a:hover {
	color: #AF1685;
	text-decoration: none;
}
.navigate {
	float: right;
	display: block;
	justify-content: space-around;
}
li {
	display: inline;
	font-family: 'Paytone One', sans-serif;
}
.menu {
	list-style: none;
	text-align: left;
}
.cascade {
	padding: 1.5rem;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    border-width: .2rem;
}
.quotebox {
	margin-top: 70px;
	text-align: center;
	min-height: 200px;
	background-color: #EE2A7B;
}
.quote {
	color: white;
	padding-top: 50px;
	padding-left: 20%;
	padding-right: 20%;
	font-size: 16px;
}
.author {
	text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
	font-size: 21px;
	font-family: 'Paytone One', sans-serif;

}
.quickbio {
	font-size: 19px;
	text-align: center;
}
.blurb {
	background: rgba(255,255,255,.8);
	width: 90%;
	margin: 4% auto;
	padding: 4%;
	box-shadow: 0 0 5px rgba(0,0,0,.75);
	border: lightgrey solid 1px;
}
.productparallax {
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/autumnprofile.jpg); 
	min-height: 450px;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.testparallax {
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/ayanaprofile.jpg); 
	min-height: 450px;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.title {
	font-size: 40px;
	color: white;
	text-align: center;
	letter-spacing: 2px;
	padding: 15%;
	text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
	font-family: 'Paytone One', sans-serif;
}
.about {
	text-align: center;
	padding: 20px;
	color: black;
}
.intro {
	font-size: 36px;
	padding: 20px;
	font-family:'Playfair Display', serif;
}
.boldword {
	font-family: 'Paytone One', sans-serif;
	font-size: 40px;
}
.container {
	position: relative;
	z-index: -1;
}
.hats {
	padding: 20px;
}
.post {
	font-size: 14px;
}
h2 {
	font-family: 'Paytone One', sans-serif;
}
.subhead {
	font-family: 'Paytone One', sans-serif;
	color: #AF1685;
	padding-top: 1%;
	font-size: 20px;
}
.blogpost {
	color: black;
	padding: 3%;
	width: 0 auto;
	margin: 0 auto;
	text-align: center;
}
.form-horizontal {
	padding-top: 10px;
	padding-right: 20px;
}
footer {
	background-color: #E9CDD0;
	padding-top: 2%;
	padding-bottom: 2%;
	font-size: 16px;
	text-align: center;
	font-family:'Playfair Display', serif;
	box-shadow: 0 0 5px rgba(0,0,0,.75);
	text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}
.social {
	padding:15px;
}
