body {
	font-family: 'Libre Baskerville', serif;
}
.header-cont {
	position: fixed;
	top: 0;
	width: 100%;
}
.Bria {
	float:left;
	padding-left: 2%;
	font-family:'Playfair Display', serif;
}
.icon {
	float: right;
	position: relative;
	margin-top: 20px;
	padding-right: 2%;
	font-family:'Playfair Display', serif;
}
a{
	text-decoration: none;
	color: black;
}
a:unvisited {
	color: black;
	text-decoration: none;
}
a:visited {
	color: black;
	text-decoration: none;
}
a:hover {
	color: pink;
	text-decoration: none;
}
header {
	margin: 0 auto;
	background-color: white;
	box-shadow: 0 0 5px rgba(0,0,0,.75);
	padding-bottom: 1%;	
}
nav {
	clear: both;
	display: flex;
	justify-content: space-around;
}
.quotebox {
	margin-top: 100px;
	text-align: center;
	min-height: 200px;
	background-color: pink;
}
.quote {
	color: white;
	padding-top: 50px;
	padding-left: 20%;
	padding-right: 20%;
	font-size: 16px;
}
.author {
	text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
	font-size: 21px;
	font-family: 'Cookie', cursive;
}
.quickbio {
	font-size: 19px;
	text-align: center;
}
.blurb {
	background: rgba(255,255,255,.8);
	width: 90%;
	margin: 4% auto;
	padding: 4%;
	box-shadow: 0 0 5px rgba(0,0,0,.75);
	border: lightgrey solid 1px;
}
.aboutparallax {
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/IMG_0116.jpg); 
	min-height: 450px;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.doodleparallax {
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/pinkdoodle.jpg); 
	min-height: 450px;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.contactparallax {
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/bwabout.jpg); 
	min-height: 450px;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.title {
	font-size: 40px;
	color: white;
	text-align: center;
	letter-spacing: 2px;
	padding: 15%;
	text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}
.about {
	text-align: center;
	padding: 20px;
	color: black;
}
.intro {
	font-size: 36px;
	padding: 20px;
	font-family:'Playfair Display', serif;
}
.cursive {
	font-family: 'Cookie', cursive;
	color: pink;
}
.container {
	position: relative;
	z-index: -1;
}
.hats {
	padding: 20px;
}
.post {
	font-size: 14px;
}
.subhead {
	color: pink;
	padding-top: 2%;
	font-size: 13px;
}
.blogpost {
	color: black;
	padding: 3%;
	width: 0 auto;
	margin: 0 auto;
	text-align: center;
}	
.contactme {
	padding: 10%;
	display: block;
	margin: 0 auto;
	position: relative;
}
.form-horizontal {
	padding-top: 10px;
	padding-right: 20px;
}
footer {
	background-color: pink;
	padding-top: 2%;
	padding-bottom: 2%;
	font-size: 16px;
	text-align: center;
	font-family: 'Cookie', cursive;
	box-shadow: 0 0 5px rgba(0,0,0,.75);
	text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}
.social {
	padding:10px;
}
